.custom-select.intl-tel-input .select2-container .select2-selection {
    width: 80px;
    min-width: 80px;
}

a {
  cursor: pointer;
}




.form-group {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
    line-height: normal;
    color: #A5A6A9;
    font-family: 'BNPPSans';
    padding-left: 26px;
    display: inline-flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1180px) {
        display: inline-flex;
        align-items: start;
    }
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #DEDEDE;
    padding: 8px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    left: 0;
  }
  .form-group input:checked + label:before {
    background-color: #D74B14;
    border: 2px solid #D74B14;
  }
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
    width: 5px;
    height: 12px;  
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .form-group select {
    color: #3E8A61;
    border: 0;
    border-radius: 0;
    width: auto;
    // padding: 0 30px 0 0;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 0;
  }

  .mobile-input {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .country {
      display: flex;
      width: 60px;
      gap: 5px;
      position: absolute;
      top: 22px;
      left: 15px;
      border-right: 1px solid #D0D5DD;

      span {
        line-height: normal;
      }
    }
    input {
      width: 100%;
      padding-left: 90px!important;
    }
  }