.page-body {
    background-color: #fff!important;

    @media only screen and (max-width: 991.98px) {
        padding-bottom: 0px!important;
    }
}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.45s ease-in-out;
    pointer-events: visible;
}
@media (max-width: 990px) {
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon {
        z-index: 99;
        }
    .overlay {
        pointer-events: visible;
    }
    .overlay.is-active {
        opacity: 1;
        visibility: visible;
        display: block !important;
    }
}
