<div class="mb-3 shadowBox">
  <h4 class="mb-3">FAQs</h4>
  <form [formGroup]="searchForm">
    <div class="form-row">
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="searchQuery" placeholder="Search">
      </div>
      <div class="col-6">
      </div>
    </div>
  </form>


<div class="accordion mt-4" id="accordionExample">
  <div class="accordion-item" *ngFor="let data of filteredFAQ; let i = index">
    <h2 class="accordion-header" [id]="'heading-' + i">
      <button class="accordion-button" type="button" (click)="toggleAccordion(i)" [attr.data-bs-toggle]="'collapse'"
        [attr.data-bs-target]="'#collapse-' + i" [attr.aria-expanded]="activeIndex === i ? 'true' : 'false'"
        aria-controls="collapse-One">
        {{ data.title }}
      </button>
    </h2>
    <div [id]="'collapse-' + i" class="accordion-collapse collapse" [class.show]="activeIndex === i"
      [attr.aria-labelledby]="'heading-' + i" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>{{ data.description }}</p>
      </div>
    </div>
  </div>
</div>